.menubar {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  height: 60px;
  background-color: #0071dc;
  position: static;
  top: 0;
  z-index: 100;
  padding-right: 270px;
}

.menubar_logo {
  width: 140px;
  object-fit: contain;
}

.menubar_text {
  display: flex;
  flex-direction: column;
  font-size: 15px;
}

.menubar_LineTwo {
  text-decoration: underline;
  font-size: 14px;
}
